.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

::ng-deep .mat-option .mat-option-text .link {
  color: #2959c2;
  text-decoration: none;
  width: calc(100% - 8px);
  transition: 0.05s ease-in-out;
}

::ng-deep .mat-option .mat-option-text .link:hover {
  display: flex;
  flex-grow: 1;
  padding: 4px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #ddd;
}
