.max-width {
  margin: 0px 25px;
  width: calc(100% - 50px);
}

.full-width {
  width: 100%;
}

table th:nth-child(1) {
  width: 5%;
}

table th {
  text-align: center;
  width: calc(100% / 9);
}

.edit {
  color: rgb(59, 130, 8);
}

.edit i {
  margin-right: 10px;
}

table td:last-child {
  text-align: center;
}
