<div class="mat-elevation-z8 max-width">
  <!-- <a href='../content-pyshical/content-pyshical.component.html' class="refresh" target='_blank'>
          <i class="material-icons">
            refresh
          </i>
        </a> -->
  <table class="full-width" matSort mat-table>
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let obj"> {{obj.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
      <td mat-cell *matCellDef="let obj"> {{obj.name}} </td>
    </ng-container>

    <!-- Time Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tempo </th>
      <td mat-cell *matCellDef="let obj"> {{obj.time}} minutos</td>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantidade </th>
      <td mat-cell *matCellDef="let obj"> {{obj.amount}} </td>
    </ng-container>

    <!-- Potency Column -->
    <ng-container matColumnDef="potency">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Potência </th>
      <td mat-cell *matCellDef="let obj"> {{obj.potency}} W </td>
    </ng-container>

    <!-- Voltage Column -->
    <ng-container matColumnDef="voltage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Voltagem </th>
      <td mat-cell *matCellDef="let obj"> {{obj.voltage | maskVoltage: obj.voltage}} V </td>
    </ng-container>

    <!-- Amperage Column -->
    <ng-container matColumnDef="amperage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Amperagem </th>
      <td mat-cell *matCellDef="let obj"> {{obj.amperage}} A </td>
    </ng-container>

    <!-- kWh Column -->
    <ng-container matColumnDef="energy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Consumo em kWh </th>
      <td mat-cell *matCellDef="let obj"> {{obj.energy}} kWh </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Preço em R$ </th>
      <td mat-cell *matCellDef="let obj"> {{obj.price | currency: 'BRL':true}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action" class="action">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let obj">
        <a (click)="getIdObj(obj.id)">
          <app-dialog-edit [getIdForTempTable]="obj.id"></app-dialog-edit>
        </a>
        <a (click)="getIdObj(obj.id)">
          <app-dialog-component [getIdForTempTable]="obj.id"></app-dialog-component>
        </a>
        <a (click)="readApiForNewObjs()" class="refresh">
          <i class="material-icons">
            refresh
          </i>
        </a>
      </td>
    </ng-container>
    <router-outlet></router-outlet>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator routerLink="" class="full-width" #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[2, 10, 20]" aria-label="Select page">
  </mat-paginator>
</div>
