.max-width {
  margin: 0px 25px;
  width: calc(100% - 50px);
}

.full-width {
  width: 100%;
}

table th:nth-child(1) {
  width: 5%;
}

table th {
  text-align: center;
  width: calc(100% / 10);
}

table td:last-child {
  text-align: center;
}

.refresh {
  cursor: pointer;
  color: #2959c2;
}

.refresh i {
  cursor: pointer;
  margin-left: 10px;
}
