<div class="flex middle title margin">
  {{ title }}
</div>

<!-- Autocomplete - Filtro de objetos -->
<div class="flex space-between gap margin">
  <form class="example-form">
    <div class="box-suggestions"></div>
    <mat-form-field class="example-full-width" appearance="fill" style="width: 100%">
      <mat-label>Aparelho</mat-label>
      <input type="text" id="input1" #input placeholder="Aparelho" aria-label="Aparelho" [formControl]="gadgetsFormControl" [errorStateMatcher]="matcher" matInput (blur)="testForm()" [(ngModel)]="gadgets_obj1.name" [formControl]="myControl" [matAutocomplete]="auto" required />
      <mat-error id="demo">
        <strong>Obrigatório.</strong>
      </mat-error>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let obj of filteredOptions | async" [value]="obj.name" (click)="link(obj.id)">
          <a routerLink="/gadgets/obj/{{ obj.id }}">
            {{ obj.name }}
            {{ obj.id }}
          </a>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>


  <!-- Campos -->
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Tempo</mat-label>
      <input type="text" matInput placeholder="Tempo (Minutos)" [formControl]="timeFormControl" [errorStateMatcher]="matcher" [(ngModel)]="gadgets_obj1.time" name="time" id="time" required />
      <mat-error *ngIf="timeFormControl.errors && !timeFormControl.hasError('required')">
        Informação incorreta!
      </mat-error>
      <mat-error *ngIf="!timeFormControl.valid && timeFormControl.touched">
        <strong>Obrigatório.</strong>
      </mat-error>
    </mat-form-field>
  </form>

  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Quantidade</mat-label>
      <input type="text" matInput placeholder="Quantidade" [formControl]="amountFormControl" [errorStateMatcher]="matcher" [(ngModel)]="gadgets_obj1.amount" name="amount" required />
      <mat-error *ngIf="amountFormControl.errors && !amountFormControl.hasError('required')">
        Informação incorreta!
      </mat-error>
      <mat-error *ngIf="!amountFormControl.valid && amountFormControl.touched">
        <strong>Obrigatório.</strong>
      </mat-error>
    </mat-form-field>
  </form>

  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Potência</mat-label>
      <input matInput placeholder="Potência (Wats)" [formControl]="potencyFormControl" [errorStateMatcher]="matcher" [(ngModel)]="gadgets_obj1.potency" name="potency" required />
      <mat-error *ngIf="potencyFormControl.errors && !potencyFormControl.hasError('required')">
        Informação incorreta!
      </mat-error>
      <mat-error *ngIf="!potencyFormControl.valid && potencyFormControl.touched">
        <strong>Obrigatório.</strong>
      </mat-error>
    </mat-form-field>
  </form>

  <mat-form-field appearance="fill">
    <mat-label>Voltagem</mat-label>
    <mat-select [formControl]="voltageFormControl" [errorStateMatcher]="matcher" required>
      <mat-option *ngFor="let obj of voltage_obj" [value]="obj.ddp">
        {{ obj.ddp }}
      </mat-option>
    </mat-select>
    <mat-error id="demo">
      <strong>Obrigatório.</strong>
    </mat-error>
  </mat-form-field>

  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Amperagem</mat-label>
      <input matInput placeholder="Amperagem(Amperes)" [formControl]="amperageFormControl" [errorStateMatcher]="matcher" [(ngModel)]="gadgets_obj1.amperage" name="amperage" />
      <mat-error *ngIf="amperageFormControl.errors && !amperageFormControl.hasError('required')">
        Informação incorreta!
      </mat-error>
      <mat-error *ngIf="!amperageFormControl.valid && amperageFormControl.touched">
        <strong>Obrigatório.</strong>
      </mat-error>
    </mat-form-field>
  </form>
</div>


<!-- Cálculo -->
<mat-card style="margin: 25px">
  <mat-card-title>Gasto de Energia Elétrica</mat-card-title>
  <mat-card-subtitle>Resultado: {{ energy | currency: 'BRL':true}}</mat-card-subtitle>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="calc()">Adicionar objeto</button>
    <!-- <button mat-raised-button color="primary" (click)="refreshTable()">Atualizar</button> -->
  </mat-card-actions>
</mat-card>

<div class="table">
  <app-content-table></app-content-table>
</div>
