<div class="flex middle title margin">
  {{ title }}
</div>

<!-- Autocomplete - Filtro de objetos -->
<div class="flex space-between gap margin">
  <form class="example-form">
    <div class="box-suggestions"></div>
    <mat-form-field class="example-full-width" appearance="fill" style="width: 100%">
      <mat-label>Aparelho</mat-label>
      <input type="text" placeholder="Aparelho" aria-label="Aparelho" matInput [formControl]="myControl" [matAutocomplete]="auto" />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let obj of filteredOptions | async" [value]="obj.name" (click)="link(obj.id)">
          <a routerLink="/gadgets/obj/{{ obj.id }}">
            {{ obj.name }}
            {{ obj.id }}
          </a>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <!-- Campos -->
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Tempo</mat-label>
      <input matInput placeholder="Tempo (Minutos)" [(ngModel)]="gadgets_obj1.time" name="time" />
    </mat-form-field>
  </form>

  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Quantidade</mat-label>
      <input matInput placeholder="Quantidade" [(ngModel)]="gadgets_obj1.amount" name="amount" />
    </mat-form-field>
  </form>

  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Potência</mat-label>
      <input matInput placeholder="Potência (Wats)" [(ngModel)]="gadgets_obj1.potency" name="potency" />
    </mat-form-field>
  </form>

  <mat-form-field appearance="fill">
    <mat-label>Voltagem</mat-label>
    <mat-select>
      <mat-option *ngFor="let obj of voltage_obj" [value]="obj.ddp">
        {{ obj.ddp }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Amperagem</mat-label>
      <input matInput placeholder="Amperagem(Amperes)" [(ngModel)]="gadgets_obj1.amperage" name="amperage" />
    </mat-form-field>
  </form>
</div>


<!-- Cálculo -->
<mat-card style="margin: 25px">
  <mat-card-title>Gasto de Energia Elétrica</mat-card-title>
  <mat-card-subtitle>Resultado: {{ energy | currency: 'BRL':true}}</mat-card-subtitle>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="calc()">Calcular</button>
    <!-- <button mat-raised-button color="primary" (click)="refreshTable()">Atualizar</button> -->
  </mat-card-actions>
</mat-card>

<div class="table">
  <app-content-table></app-content-table>
</div>
