<div class="flex middle title margin">
  {{ title }}
</div>

<!-- Autocomplete - Filtro de objetos -->
<div class="flex space-between gap margin">
  <form class="example-form">
    <div class="box-suggestions"></div>
    <mat-form-field class="example-full-width" appearance="fill" style="width: 100%">
      <mat-label>Aparelho</mat-label>
      <input matInput type="text" #input name="gadgets" required [formControl]="gadgetsFormControl" [errorStateMatcher]="matcher" [(ngModel)]="gadgets_obj1.name" [matAutocomplete]="auto" placeholder="Aparelho" aria-label="Aparelho" />
      <mat-error>
        <strong>Obrigatório.</strong>
      </mat-error>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let obj of filteredOptions | async" [value]="obj.name" (click)="link(obj.id)">
          <a class='link' routerLink="/gadgets/obj/{{ obj.id }}">
            {{ obj.name }}
          </a>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <!-- Campos -->
  <form class="example-form">
    <mat-form-field class="example-full-width" [formGroup]="form" appearance="fill">
      <mat-label>Tempo</mat-label>
      <input matInput type="text" name="time" required formControlName="timeField" [errorStateMatcher]="matcher" [(ngModel)]="gadgets_obj1.time" mask="00:00:00" placeholder="Tempo (Minutos)" aria-label="Tempo (Minutos)" />
      <mat-error *ngIf="time?.errors && !time?.errors?.required">
        Informação incorreta!
      </mat-error>
      <mat-error *ngIf="time?.errors?.required">
        <strong>Obrigatório.</strong>
      </mat-error>
    </mat-form-field>
  </form>

  <form class="example-form">
    <mat-form-field class="example-full-width" [formGroup]="form" appearance="fill">
      <mat-label>Quantidade</mat-label>
      <input matInput type="text" name="amount" required formControlName="amountField" [errorStateMatcher]="matcher" [(ngModel)]="gadgets_obj1.amount" placeholder="Quantidade" aria-label="Quantidade" />
      <mat-error *ngIf="amount?.errors && !amount?.errors?.required">
        Informação incorreta!
      </mat-error>
      <mat-error *ngIf="amount?.errors?.required">
        <strong>Obrigatório.</strong>
      </mat-error>
    </mat-form-field>
  </form>

  <form class="example-form">
    <mat-form-field class="example-full-width" [formGroup]="form" appearance="fill">
      <mat-label>Potência</mat-label>
      <input matInput type="text" name="potency" required formControlName="potencyField" [errorStateMatcher]="matcher" [(ngModel)]="gadgets_obj1.potency" (blur)="verifyPotencyAndDisableFields()" placeholder="Potência (Wats)" aria-label="Potência (Wats)" />
      <mat-error *ngIf="potency?.errors && !potency?.errors?.required">
        Informação incorreta!
      </mat-error>
      <mat-error *ngIf="potency?.errors?.required">
        <strong>Obrigatório.</strong>
      </mat-error>
    </mat-form-field>
  </form>

  <mat-form-field [formGroup]="form" appearance="fill">
    <mat-label>Voltagem</mat-label>
    <mat-select name="voltage" required formControlName="voltageField" [errorStateMatcher]="matcher" [(ngModel)]="gadgets_obj1.voltage">
      <mat-option *ngFor="let obj of voltage_obj" [value]="obj.id" (click)="verifyVoltageOrAmperageAndDisableFields()">
        {{ obj.ddp }}
      </mat-option>
    </mat-select>
    <mat-error>
      <strong>Obrigatório.</strong>
    </mat-error>
  </mat-form-field>

  <form class="example-form">
    <mat-form-field class="example-full-width" [formGroup]="form" appearance="fill">
      <mat-label>Corrente</mat-label>
      <input matInput type="text" name="amperage" required formControlName="amperageField" [errorStateMatcher]="matcher" [(ngModel)]="gadgets_obj1.amperage" placeholder="Corrente" aria-label="Corrente" (blur)="verifyVoltageOrAmperageAndDisableFields()" />
      <mat-error *ngIf="amperage?.errors && !amperage?.errors?.required">
        Informação incorreta!
      </mat-error>
      <mat-error *ngIf="amperage?.errors?.required">
        <strong>Obrigatório.</strong>
      </mat-error>
    </mat-form-field>
  </form>
</div>

<!-- Cálculo -->
<mat-card style="margin: 25px">
  <mat-card-title>Gasto de Energia Elétrica</mat-card-title>
  <mat-card-subtitle>Resultado Total: {{ price_all | currency: 'BRL':true}}</mat-card-subtitle>
  <mat-card-actions>
    <button mat-raised-button color="primary" [disabled]="isDisabled()" (click)="createObjInTempTable()">Adicionar objeto</button>
    <button mat-raised-button color="primary" (click)="getSumAllPrices()"> Calcular Valor Total </button>
    <!-- <button mat-raised-button color="primary" (click)="refreshTable()">Atualizar</button> -->
  </mat-card-actions>
</mat-card>

<div class="table">
  <router-outlet></router-outlet>
  <app-content-table></app-content-table>
</div>
