<!-- Cartões com área de mídia -->
<div class="title">{{ title }}</div>
<div class="cards">
  <mat-card class="card">
    <mat-card-title-group>
      <mat-card-title> Potência Elétrica </mat-card-title>
      <mat-card-subtitle> Eletrodinâmica - Conteúdo 1 </mat-card-subtitle>
      <img mat-card-sm-image src="../../../../assets/img/1.jpg">
    </mat-card-title-group>
    <mat-card-content class='content'>
      {{potency}}
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-title-group>
      <mat-card-title> Tensão Elétrica </mat-card-title>
      <mat-card-subtitle> Eletrodinâmica - Conteúdo 2 </mat-card-subtitle>
      <img mat-card-sm-image src="../../../../assets/img/2.jpg">
    </mat-card-title-group>
    <mat-card-content class='content'>
      {{ddp}}
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-title-group>
      <mat-card-title> Energia Elétrica </mat-card-title>
      <mat-card-subtitle> Eletrodinâmica - Conteúdo 3 </mat-card-subtitle>
      <img mat-card-sm-image src="../../../../assets/img/3.jpg">
    </mat-card-title-group>
    <mat-card-content class='content'>
      {{energy}}
    </mat-card-content>
  </mat-card>

</div>
